{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}

<h1>Pets</h1>
<div class="container">
  <div class="row mt-3">
    {% for pet in pets %}
    <div class="col-3">
      <img src="{{ pet.image_url }}" class="img-thumbnail">
      <a href="/{{ pet.id }}">{{ pet.name }}</a> is {% if not pet.available %} not {% endif %} available!
    </div>
    {% endfor %}
  </div>
  <div class="row mt-3">
    <a class="btn btn-secondary btn-sm" href="/add">Add a Pet</a>
  </div>
</div>

{% endblock %}